        <ul class="filter-btn">
            <li>
                <a class="a-tag-filter" href="">All</a>
            </li>
            <li>
                <a class="a-tag-filter" href="">kuplinov</a>
            </li>
            <li>
                <a class="a-tag-filter" href="">dream</a>
            </li>
            <li>
                <a class="a-tag-filter" href="">dorrian</a>
            </li>
            <li>
                <a class="a-tag-filter" href="">marmok</a>
            </li>
            <li>
                <a class="a-tag-filter" href="">mrbeast</a>
            </li>
            <li>
                <a class="a-tag-filter" href="">pewdiepie</a>
            </li>
        </ul>

        <div class="filter-sections">
            <div class="box kuplinov ">
                <a href="/play-video"><img id="preImg" src="https://i.ytimg.com/vi/dyej_gHWtmo/maxresdefault.jpg" alt="няма куплинова" class="video"></a>
                <p>Kuplinov ► Play</p>
            </div>
            <div class="box dream">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/cIY95KCnnNk/maxresdefault.jpg"
                    alt="няма картинки"
                    class="video"></a>
                <p>Dream</p>
            </div>
            
            <div class="box marmok">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/IEZ_OMrAWl8/maxresdefault.jpg"
                    alt="няма картинки"
                    class="video"></a>
                <p>Marmok</p>
            </div>
            <div class="box dorrian">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/9Qo_TZIP9J0/maxresdefault.jpg"
                    alt="няма картинки"
                    class="video"></a>
                    <p>DorrianKarnett</p>
            </div>
            <div class="box pewdiepie">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/HNChn7eK1tM/maxresdefault.jpg"
                    alt="няма картинки"
                    class="video"></a>
                    <p>PewDiePie</p>
            </div>
            <div class="box marmok">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/8v4Ryf6ZYAI/maxresdefault.jpg"
                    alt="няма картинки"
                    class="video"></a>
                <p>Marmok</p>
            </div>
            <div class="box kuplinov ">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/K9Dz8tFBuHY/maxresdefault.jpg"
                    alt="няма куплинова"
                    class="video"></a>
                <p>Kuplinov ► Play</p>
            </div>
            <div class="box dream">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/uvebNBKOSTg/maxresdefault.jpg"
                    alt="няма картинки"
                    class="video"></a>
                <p>Dream</p>
            </div>
            <div class="box pewdiepie">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/diT6jc9flkc/maxresdefault.jpg"
                    alt="няма картинки"
                    class="video"></a>
                    <p>PewDiePie</p>
            </div>
            <div class="box mrbeast">
                <a href="/play-video"><img
                    id="preImg"
                    src="https://i.ytimg.com/vi/TJ2ifmkGGus/maxresdefault.jpg"
                    alt="няма картинки"
                    class="video"></a>
                    <p>MrBeast</p>
            </div>
            <div class="list-container">
    
            </div>
            <script src="/scr/videos.js"></script>
        </div>
