<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


<div class="swiper sample-slider">
  <h1>Popular:</h1>
  <div class="swiper-wrapper">
      <div class="swiper-slide test " >
        <a href="/play-video?v="><div class="card text-center"><img class="card-img-top" src="https://i.ytimg.com/vi/TJ2ifmkGGus/maxresdefault.jpg" alt="">
        <div class="card-body">
          <h5>MrBeast<br />
            <span class="textView"> 200mil</span>
          </h5>
          <p class="card-text">“1,000 Незрячих Людей Видят Впервые” lorem*100</p>
        </div>
       </div></a>
    </div>
    <div class="swiper-slide test" >
      <a href="/play-video?v="><div class="card text-center"><img class="card-img-top" src="https://i.ytimg.com/vi/9Qo_TZIP9J0/maxresdefault.jpg" alt="">
      <div class="card-body">
        <h5>DorrianKarnett<br />
          <span class="textView"> 900k</span>
        </h5>
        <p class="card-text">“Что Добавили в НОВЫЙ Adobe Photoshop 2021 - Обзор и Что Нового?” </p>
      </div>
     </div></a>
  </div>
  <div class="swiper-slide test" >
    <a href="/play-video?v="><div class="card text-center"><img class="card-img-top" src="https://i.ytimg.com/vi/8v4Ryf6ZYAI/maxresdefault.jpg" alt="">
    <div class="card-body">
      <h5>Marmok<br />
        <span class="textView"> 19mil</span>
      </h5>
      <p class="card-text">“Хорошие игры #27 "Баги, Приколы, Фейлы"” </p>
    </div>
   </div></a>
</div>
<div class="swiper-slide test" >
  <a href="/play-video?v="><div class="card text-center"><img class="card-img-top" src="https://i.ytimg.com/vi/HNChn7eK1tM/maxresdefault.jpg" alt="">
  <div class="card-body">
    <h5>PewDiePie<br />
      <span class="textView"> 200mil</span>
    </h5>
    <p class="card-text">“Jaiden Smith Did it Again..” </p>
  </div>
 </div></a>
</div>
  </div>
</div>
<script>
const swiper = new Swiper('.sample-slider', {
    loop: true,
    autoplay: {
        delay: 0,
    },
    speed: 5000,    
    slidesPerView: 3,     
})
</script>