<div class="shortcut-links">
    <a href="/home"><img src="https://cdn-icons-png.flaticon.com/256/69/69524.png" alt=""><p>Home</p></a>
    <a href="/lib"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFa1-EK5eOLaZSpETfLo2-Um4UmXINXYPZFA&usqp=CAU" alt=""><p>Library</p></a>
    <a href="/plists"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk9qZHsEp-b-TwrbXQNtqQ-sJwRA7h7edzplBkgM_jfq6CWRu_PGR9ln_291G65OVTs9k&usqp=CAU" alt=""><p>Playlists</p></a>
    <a href="/subs"><img src="https://cdn.icon-icons.com/icons2/3237/PNG/512/menu_youtube_social_media_subs_subscription_icon_197393.png" alt=""><p>Subscriprion</p></a>
    <hr>
</div>
